<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>mainPage</title>
    <link rel="stylesheet" href="/mainPage/assets/styles/common.css" type="text/css">
    <link rel="stylesheet" href="/mainPage/assets/styles/mainPage.css" type="text/css">
    <script defer src="/mainPage/assets/scripts/mainPage.js"></script>
</head>
<body>
<div class="banner">
    <div class="text">
        <span id="quoteText">asfasdfasdfasfasdfasdfasfasdfasdfasfasdfasdf</span>
        <span id="quoteAuthor">- asdfadf -</span>
    </div>
    <div class="btnContainer">
    <button id="plannerBtn">지금 당장 플랜 생성하러 가기</button>
    <button id="actBtn">지금 당장 운동하러 가기</button>
    </div>
</div>

<div class="community">
    <div class="section-header">
        <div class="left">
            <span class="title">사람들과 같이 운동을 해봐요!</span>
            <button class="add-btn" data-tooltip="작성하기" id="addCommunity">+</button>
        </div>
        <button class="more-btn">더보기</button>
    </div>
        <div  class="item-list collapsed" id="communityList">
            <div class="item">
                <img src="/mainPage/assets/images/스크린샷%202023-09-19%20220519.png" alt="image">
                <span class="content">같이 뛰실분 구해요~!</span>
            </div>

            <div class="item">
                <img src="/mainPage/assets/images/스크린샷%202023-09-19%20220519.png" alt="image">
                <span class="content">같이 뛰실분 구해요~!</span>
            </div>

            <div class="item">
                <img src="/mainPage/assets/images/스크린샷%202023-09-19%20220519.png" alt="image">
                <span class="content">같이 뛰실분 구해요~!</span>
            </div>

            <div class="item">
                <img src="/mainPage/assets/images/스크린샷%202023-09-19%20220519.png" alt="image">
                <span class="content">같이 뛰실분 구해요~!</span>
            </div>

            <div class="item">
                <img src="/mainPage/assets/images/스크린샷%202023-09-19%20220519.png" alt="image">
                <span class="content">같이 뛰실분 구해요~!</span>
            </div>

            <div class="item">
                <img src="/mainPage/assets/images/스크린샷%202023-09-19%20220519.png" alt="image">
                <span class="content">같이 뛰실분 구해요~!</span>
            </div>
            </div>
</div>


<div class="diet">
    <div class="section-header">
        <div class="left">
            <span class="title">오늘의 식단</span>
        </div>
        <button class="more-btn">더보기</button>
    </div>

    <div  class="item-list collapsed">
    <div class="item">
        <img src="/mainPage/assets/images/스크린샷%202023-09-19%20220519.png" alt="image">
        <span class="content">닭가슴살 샌드위치</span>
        <span class="kal"><span class="number">422</span> kal</span>
    </div>

        <div class="item">
            <img src="/mainPage/assets/images/스크린샷%202023-09-19%20220519.png" alt="image">
            <span class="content">닭가슴살 샌드위치</span>
            <span class="kal"><span class="number">422</span> kal</span>
        </div>

        <div class="item">
            <img src="/mainPage/assets/images/스크린샷%202023-09-19%20220519.png" alt="image">
            <span class="content">닭가슴살 샌드위치</span>
            <span class="kal"><span class="number">422</span> kal</span>
        </div>

        <div class="item">
            <img src="/mainPage/assets/images/스크린샷%202023-09-19%20220519.png" alt="image">
            <span class="content">닭가슴살 샌드위치</span>
            <span class="kal"><span class="number">422</span> kal</span>
        </div>

        <div class="item">
            <img src="/mainPage/assets/images/스크린샷%202023-09-19%20220519.png" alt="image">
            <span class="content">닭가슴살 샌드위치</span>
            <span class="kal"><span class="number">422</span> kal</span>
        </div>

        <div class="item">
            <img src="/mainPage/assets/images/스크린샷%202023-09-19%20220519.png" alt="image">
            <span class="content">닭가슴살 샌드위치</span>
            <span class="kal"><span class="number">422</span> kal</span>
        </div>

        <div class="item">
            <img src="/mainPage/assets/images/스크린샷%202023-09-19%20220519.png" alt="image">
            <span class="content">닭가슴살 샌드위치</span>
            <span class="kal"><span class="number">422</span> kal</span>
        </div>
    </div>
</div>

<div class="product">
    <div class="section-header">
        <div class="left">
            <span class="title">새거같은 중고</span>
            <button class="add-btn" data-tooltip="작성하기" id="addProduct">+</button>
        </div>
        <button class="more-btn">더보기</button>
    </div>

    <div  class="item-list collapsed addProduct">
    <div class="item">
        <img src="/mainPage/assets/images/스크린샷%202023-09-19%20220519.png" alt="image">
        <span class="content">턱걸이</span>
        <span class="content">70,000</span>
    </div>

    <div class="item">
        <img src="/mainPage/assets/images/스크린샷%202023-09-19%20220519.png" alt="image">
        <span class="content">턱걸이</span>
        <span class="content">70,000</span>
    </div>

    <div class="item">
        <img src="/mainPage/assets/images/스크린샷%202023-09-19%20220519.png" alt="image">
        <span class="content">턱걸이</span>
        <span class="content">70,000</span>
    </div>
</div>
</div>


</body>
</html>