.h1 {
    font-weight: 300;
    font-size: 2rem;
}

.wrapper{
    background-color: #eaeaea;
    width: auto;
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.loginForm{
    display: flex;
    flex-direction: column;
}

.loginForm label {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    margin-bottom: 10px;
}

.loginForm label span {
    width: 80px; /* label 텍스트 영역 고정 */
    display: inline-block;
}

.loginForm input {
    flex: 1; /* 남은 공간 다 차지 */
    padding: 8px;
    font-size: 16px;
    margin: 0.625rem;
    border-bottom: 0.03rem solid #0000FF50;
}

@media (max-width: 500px){
    .wrapper {
        padding: 20px;
    }
    .loginForm input, .loginBtn {
        width: 100%;
    }
}

.loginBtn{
    background-color: #0000ff30;
    margin: 0.5rem;
    border-radius: 2rem;
    cursor: pointer;
    padding: 1rem;
}

.text{
    justify-content: space-around;
    display: flex;
    margin: 1rem;
}

.snsWrapper{
    gap: 0.4rem;
    display: flex;
    flex-direction: column;
}

.kakao{
    width: 100%;
    background-color: yellow;
    border-radius: 3rem;
}

.naver{
    width: 100%;
    background-color: green;
    border-radius: 3rem;
}

.kakao > img{
    aspect-ratio: 1/1;
    width: 2rem;
    padding: 0.5rem;
}

.naver > img{
    aspect-ratio: 1/1;
    width: 2rem;
    padding: 0.5rem;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    gap: 0.3rem;
}